@import "./header.css";

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.container .title{
    position: absolute;
    height: 34px;
    left: 11.56%;
    top: 23.56%;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.background img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.container .img-commander{
    display: flex;
    justify-content: end;
    position: absolute;
    width: 39.44%;
    height: 79.11%;
    left: 50.90%;
    top: 20.78%;
}

.container .img-commander img{
    height: 100%;
    width: 92.08%;
}


.container-infos{
    position: absolute;
    left: 11.46%;
    top: 44.44%;
    width: 41.89%;
    height: auto;
}

.heading-4{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.heading-3{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container .container-infos .text-infos{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    width: 73.63%;
}

.container-bouton{
    position: absolute;
    display: flex;
    left: 11.58%;
    top: 87.89%;
}

.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.container-bouton .active{
    background-color: white;
}

@media screen and (max-height:1024px) and (max-width:768px) {
    .container .title{
        left: 5.04%;
        top: 13.28%;
    }

    .container .title .subheading-1{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }

    .heading-3{
        font-size: 40px;
        line-height: 46px;
    }

    .heading-4{
        font-size: 24px;
        line-height: 28px;
    }

    .container .container-infos{
        left: 50%;
        top: 21.48%;
        transform: translate(-50%);
        width: 59.635%;
        text-align: center;
    }

    .container .container-infos .text-infos{
        font-size: 16px;
        line-height: 28px;
        width: 100%;
    }

    .container-bouton{
        top: 43.164%;
        left: 50%;
        transform: translate(-50%);
    }

    .container .img-commander{
        top: 48.046%;
        left: 50%;
        transform: translate(-50%);
        width: 72.40%;
        height: 51.86%;
    }

}

@media screen and (max-height:667px) and (max-width:375px){
    .container .title{
        text-align: center;
        width: 100%;
        left: inherit;
        top: 13.19%;
    }

    .container .title .subheading-1{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }

    .heading-3{
        font-size: 24px;
        line-height: 28px;
    }

    .heading-4{
        font-size: 16px;
        line-height: 18px;
    }

    .container .container-infos{
        left: 50%;
        top: 65.367%;
        transform: translate(-50%);
        width: 87.20%;
        text-align: center;
    }

    .container .container-infos .text-infos{
        font-size: 15px;
        line-height: 25px;
        width: 100%;
    }

    .container-bouton{
        top: 59.07%;
        left: 50%;
        transform: translate(-50%);
        gap: 16px;
    }

    .bouton{
        width: 10px;
        height: 10px;
    }

    .container .img-commander{
        top: 20.84%;
        left: 50%;
        transform: translate(-50%);
        width: 47.20%;
        height: 33.28%;
    }

    .container .img-commander img{
        width: 100%;
    }
}