@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

header{
    display: flex;
    position: absolute;
    align-items: center;
    width: 96%;
    height: 96px;
    left: 3.82%;
    top: 40px;
}

.hamburger{
    display: none;
}

.close{
    display: none;
}

.container .line{
    position: absolute;
    width: 34.215%;
    height: 1px;
    left: 112px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    z-index: 1;
}


.container .container-logo{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 55px;
    top: 64px;
    z-index: 1;
}

.container .container-menu{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    position: absolute;
    width: 60.04%;
    /*((((830px * 100) / 100%) / 100) * 100%)*/
    height: 96px;
    left: 40.15%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}

.container .menu{
    /*position: absolute;*/
    position: relative;
    display: flex;
    align-items: center;
    gap: 48px;
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 14.82%;
    right: 19.88%;
    list-style-type: none;
}


.container .menu li{
    position: relative;
    text-transform: uppercase;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 2.7px;
}

.container .menu a{
    text-decoration: none;
    color: white;
}

.menu .selection{
    position: absolute;
    display: none;
    height: 3px;
    background-color: white;
    top: 55px;
    left: 0;
    width: 100%;
}

.menu li .active{
    display: block;
}

.menu li:hover .selection{
    display: block;
    background-color: grey;
}

@media screen and (max-width:1070px) {
    .container .menu{
        gap: 30px;
    }
}

@media screen and (max-width:955px) {
    .container .menu{
        gap: 20px;
    }
}

@media screen and (max-height:1024px) and (max-width:768px) {
    header{
        top: 0;
    }

    .container .line{
        display: none;
    }

    .container .container-logo{
        left: 5.08%;
        top: 2.34%;
    }

    .container .container-menu{
        font-size: 14px;
    }
}

@media screen and (max-height:667px) and (max-width:375px) {
    header{
        display: none;
        height: 100%;
        width: 75%;
        left: inherit;
        right: 0;
        z-index: 3;
    }
    
    .hamburger{
        display: block;
        position: absolute;
        left: 87.20%;
        top: 4.948%;
    }

    .close{
        display: block;
    }
    
    .container .line{
        display: none;
    }
    
    .container .container-menu{
        font-size: 16px;
        width: 100%;
        height: 100%;
        left: 0;

    }

    .container-menu .close{
        position: absolute;
        right: 7.05%;
        top: 5.09%;
    }
    
    .container .menu{
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 85%;
        height: 100%;
        top: 17.69%;
    }

}