@import "./header.css";

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.container .title{
    position: absolute;
    height: 34px;
    left: 11.56%;
    top: 23.56%;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.background img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.heading-3{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 11px;
}

.heading-6{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
}

.container-infos{
    position: absolute;
    left: 22.57%;
    top: 42.555%;
    width: 41.89%;
    height: auto;
}

.container .container-infos .text-infos{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    width: 73.63%;
    margin: 0;
    margin-top: 18px;
}

.container-bouton{
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: white;
    position: absolute;
    top: 42.44%;
    left: 11.56%;
}

.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.bouton span{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.container-bouton .active{
    background-color: white;
}

.container-bouton .active span{
    color: black;
}

.container .img-vehicle{
    display: flex;
    justify-content: end;
    position: absolute;
    width: 35.76%;
    height: 58.555%;
    right: 0;
    top: 30.22%;
}

.container .img-vehicle img{
    height: 100%;
    width: 100%;
}